#canvas {
    border: 1px black solid;
}
#health img{
    width:50px;
}

@font-face{
    font-family: "pixelFont";
    src: url("pixel.ttf")
}

body{
    font-family: "pixelFont";
    color: white;
    background-color: black;
}