#canvas {
    border: 10px white solid;
    border-radius: 15px;
}
#health img{
    width:50px;
}

@font-face{
    font-family: "pixelFont";
    src: url("pixel.ttf")
}

body{
    font-family: "pixelFont";
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}